div {
    text-align: center;
}

form {
    text-align: center;
}

a {
    color: white;
}

a:hover {
    color: white;
    cursor: pointer;
}

.container {
    height: 200px;
    position: relative;
    border: 3px solid green;
}

input[type=email], input[type=password] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}