<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard (Admin) - ShelterSafe</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <!-- Load the Google Maps API-->
    <script src="/script/script.js" defer></script>
    <script
      async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPH6B4jd8jNc_azss5c1wkJKFCxa_n29o&loading=async&libraries=places&callback=initMap"
      defer
    ></script>
    <%- include('../partials/socket-script') %>
  </head>

  <body style="background-color: WHITE" id="admin-dash">
    <!-- Nav-bar.EJS-->
    <%- include('../partials/nav-bar') %>
    <div class="top-content">
      <!-- Legend -->
      <div class="left-side">
        <img src="/site_art/legend.JPG" alt="legend" />
      </div>

      <!-- Map -->
      <div id="map"></div>

      <!-- Sidebar -->
      <div class="sidebar">
        <h2 class="monitor">Stream Flooding Monitors</h2>
        <ul id="flood-list"></ul>
        <ul id="wildfire-list"></ul>
      </div>
    </div>

      <footer class="copyright" style="color: black">
        <p>© 2024, ShelterSafe LLC</p>
      </footer>
  </body>
</html>
