<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - ShelterSafe</title>
    <link rel="stylesheet" href="/styles/styles.css"/>
    <script src="/script/script.js" defer></script>
    <!-- Google Maps API-->
    <script
      async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPH6B4jd8jNc_azss5c1wkJKFCxa_n29o&loading=async&callback=initMap"
      defer
    ></script>
    <%- include('./partials/socket-script') %>
  </head>

  <body style="background-color: WHITE">
    <!-- Nav-bar.EJS-->
    <%- include('./partials/nav-bar') %>

    <div class="container">
      <div class="left-side">
        <img src="/site_art/legend.JPG" alt="legend" />
      </div>
      <!-- Display the map with flood monitoring markers -->
      <div class="main" id="map"></div>

      <!-- Sidebar for flood stage monitoring -->
      <div class="sidebar">
        <h2 class="monitor" style="align-content: center">
          Stream Flooding Monitors
        </h2>
        <ul id="flood-list"></ul>
        <ul id="wildfire-list"></ul>
      </div>
    </div>

    <!-- Container for text -->
    <div class="main" id="about">
      <main>
        <h1>Keep Safe with ShelterSafe</h1>
        <p>
          Welcome to ShelterSafe, your go-to resource for finding safe havens
          during natural disasters. Our website provides real-time updates on
          emergencies and a comprehensive directory of nearby shelters. With
          user-friendly navigation, you can quickly locate the nearest safe
          spaces and access vital information on disaster preparedness. Stay
          informed, stay safe, and let ShelterSafe guide you through challenging
          times.
        </p>
      </main>
    </div>

    <div class="main" id="app">
      <main>
        <h1>Take ShelterSafe on the go</h1>
        <p>Get the free mobile app here to find shelters on the go.</p>
      </main>
      <div class="mobile_download">
        <a href="/"
          ><img src="/site_art/mobile_coming_soon.png" alt="mobile" /></a>
      </div>
    </div>
  </body>

    <footer class="copyright" style="color: black">
      <p>© 2024, ShelterSafe LLC</p>
    </footer>
  </body>
</html>
