<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% if (loggedIn) { %>
    <meta name="user-id" content="<%= user_id %>" />
    <% } %>
    <title>Account Settings - ShelterSafe</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <!-- calling script.js to initialize the map -->
    <script src="/script/script.js" defer></script>
    <%- include('../partials/socket-script') %>
  </head>

  <body style="background-color: WHITE">
    <!-- Nav-bar.EJS-->
    <%- include('../partials/nav-bar') %>

    <h1>Reset Email or Password</h1>
    <form action="/auth/change-email" method="POST">
      <a href="/auth/change-email" class="new_email">Click to change email</a><br><br>
    </form>
    
    <!-- reset your password -->
    <form action="/auth/resetting-password" method="POST">
      <a href="/auth/forgot-password" class="new_pw">Click to change password</a>
    </form>

    <footer class="copyright" style="color: black">
      <p>© 2024, ShelterSafe LLC</p>
    </footer>
  </body>
</html>
