<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Settings - ShelterSafe</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <!-- calling script.js to initialize the map -->
    <script src="/script/script.js" defer></script>
    <%- include('../partials/socket-script') %>
  </head>

  <body style="background-color: WHITE">
    <!-- Nav-bar.EJS-->
    <%- include('../partials/nav-bar') %>

    <!-- reset your password via email and old password -->
    <form action="/auth/resetting-password" method="POST">
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          id="email"
          aria-describedby="email"
          placeholder="Email Address"
          name="Email"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          id="inputPassword"
          class="form-control"
          aria-describedby="password"
          placeholder="Password"
          Name="Password"
        /><br />
        <small id="password" class="text-muted">
          Password must be 6-20 characters long
        </small>
      </div>

      <!--login info not required until it's set up-->
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Login</button>
        <button class="btn btn-success">
          <a href="/auth/register">Sign up</a>
        </button>
      </div>
      <a href="/auth/forgot-password" class="new_pw">Forgot Password?</a>
    </form>

    <footer class="copyright" style="color: black">
      <p>© 2024, ShelterSafe LLC</p>
    </footer>
  </body>
</html>
