<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resources - ShelterSafe</title>
    <link rel="stylesheet" href="styles/styles.css" />
    <%- include('./partials/socket-script') %>
  </head>

  <body style="background-color: WHITE">
  <!-- Nav-bar.EJS-->
  <%- include('./partials/nav-bar') %>


    <!-- Content -->
    <div class="row">
      <div class="left-side">
        <h1>Resources</h1>
        <h4><a href="https://www.fema.gov/disaster/current" class="fema"><b>Click here</b></a>
          to be redirected to FEMA and view current disasters and access resources, including information on how to apply for federal assistance during major disaster declarations.<br></h4>
        <h1>Basic Disaster Supplies Kit</h1>
        <h4><a href="https://www.ready.gov/kit" class="fema"><b>Click here</b></a> to view a list of basic items your household may need
          in the event of an emergency and to download an <b>Emergency Supply List</b> form.</h4>

      </div>
    </div>

    <footer class="copyright" style="color: black">
      <p>© 2024, ShelterSafe LLC</p>
    </footer>
  </body>
</html>
