body {
    font-family: Arial, Helvetica, sans-serif;
    color: BLACK;
}

.table {
    margin-top:50px;
    margin-left:200px;
}

.logo {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
}

body {
    font-family: Garamond, serif;
}

.copyright {
    margin-left: auto;
    padding-left: 100px;
    padding-top: 100px;
}