body {
    font-family: Arial, Helvetica, sans-serif;
    color: BLACK;
}

.nav {
    height: 50px;
    display: flex;
    align-items: center;
    position: relative; /* Ensure this has a stacking context */
    z-index: 10; /* Higher than the map */
    margin-bottom: 10px;
}

.nav-right {
    font-family: sans-serif;
    display: flex;
    margin-left: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.row-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.shelter-info {
    text-align: center;
    width: 100%;
    font-size: 30px;
    padding: 20px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
}

/* Navbar base color */
.navbar ul{
    list-style-type: none;
    background-color: #d30000;
    padding: 0px;
    margin-bottom: 10px;
    overflow: hidden;
}

/* Navbar text color */
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: right;
}

/* Navbar hover color */
.navbar a:hover{
    background-color: #7f0338;
}

/* Navbar text right */
.navbar li{
    float: right;
}

.main {
    flex: 1;
    padding-left: 20px;
    padding-top: 50px;
}

a {
    color: BLACK;
    text-decoration: none;
}

a:hover {
    color: gray;
    cursor: pointer;
}

button {
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

h2 {
    text-align: center;
    width: 100%;
    margin: 20px 0;
}

.copyright {
    text-align: center;
    margin-left: auto;
    padding-left: 100px;
    padding-top: 100px;
}

table {
    width: 90%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#schools-table,
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.left-side {
    width: 15%;
    margin: 20px auto;
    padding-right: 30px;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.highlight {
    text-decoration: underline;
}

#map {
    height: 72vh;
    width: 80%;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}